<%
  set_meta_tags title:        t("pages.clip_list"),
                description:  t("clip_list.meta_description")
%>

<h1><%= t("pages.clip_list") %></h1>

<div id="clips">
  <%= render @clips %>
</div>

<div class="text-center">
  <%= paginate @clips, theme: 'twitter-bootstrap-3', window: 1 %>
</div>