<% provide :title, @clip.title %>

<h1><%= @clip.title %></h1>

<div class="thumbnail">
  <div class="embed-responsive embed-responsive-16by9">
    <%= youtube_embed @clip.video_url %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <% if can? :destroy, @clip %>
      <%= link_to [glyph('trash'), t("clip_show.delete")].join(' ').html_safe, @clip, class: "btn btn-danger btn-xs", method: :delete, data: { confirm: t("confirm.are_you_sure") } %>
    <% end %>
  </div>
</div>

<%== @clip.description %>

<%- disqus_thread %>