<ul class="nav navbar-nav navbar-right">
  <% if signed_in? %>
    <li class="dropdown header_account">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= image_tag current_user.image, alt: current_user.nickname %><%= current_user.nickname %> <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <!-- <li class="divider"></li> -->
        <li><%= link_to t('session.sign_out'), sign_out_path, method: :delete %></li>
      </ul>
    </li>
  <% else %>
    <li><%= link_to t('session.sign_in_with_github'), '/auth/github' %></li>
  <% end %>
</ul>