<footer>
  <div class="container">
    <p>
      &copy; <a href="http://spalmalo.com">Spalmalo</a> 2015
      <a href="https://github.com/spalmalo/dev.kg" class="pull-right">GitHub</a>
    </p>
  </div>
</footer>