<aside class="well sidebar-nav">
  <ul class="nav nav-list">
    <li><%= link_to t("pages.screencast_new"), new_screencast_path %></li>
    <li><%= link_to t("pages.clip_new"), new_clip_path %></li>
    <% if can? :create, Page %>
      <li><%= link_to t("pages.page_new"), new_page_path %></li>
    <% end %>
  </ul>
</aside>