<% provide :title, 'Flags' %>

<ul id="flags" class="list-unstyled">
  <% @flags.each do |flag| %>
    <%= content_tag :li, flag, class: flag.downcase do %>
      <span class="flag"></span>
      <%= flag %>
    <% end %>
  <% end %>
</ul>