<%
  set_meta_tags title:        t("pages.screencast_list"),
                description:  t("screencast_list.meta_description")
%>

<h1><%= t("pages.screencast_list") %></h1>

<div id="screencasts">
  <%= render @screencasts %>
</div>

<div class="text-center">
  <%= paginate @screencasts, theme: 'twitter-bootstrap-3', window: 1 %>
</div>