@mixin video_item {
  margin-bottom: 40px;

  h2 {
    margin-top: 0;
  }

  .published_at {
    font-style: italic;
    margin-bottom: 10px;
  }

  .thumbnail {
    img {
      width: 100%;
    }
  }

  .description {
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}

@mixin video_show {
  margin-bottom: 40px;

  .description {
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}

@mixin video_form {
  textarea {
    max-width: 100%;
  }
}