#asciicast {
  code {
    border: 1px solid #666;
    background-color: #23241F;
    color: #AEAFA9;
  }

  pre {
    padding: 0;
    background-color: transparent;
    border: 1px solid #666;

    code {
      border: 0;
    }
  }

}