.gravatar_profile_link {
  display: inline-block;
  margin-bottom: 10px;
  position: relative;
  @include border-radius(5px);
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    @include transition-property(background-color);
    @include transition-duration(0.2s);
  }

  &:after {
    content: "\e136";
    font-family: 'Glyphicons Halflings';
    display: block;
    height: 40px;
    width: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -20px;
    line-height: 40px;
    font-size: 40px;
    color: transparent;
    text-align: center;
    @include transition-property(color);
    @include transition-duration(0.2s);
  }

  &:hover {
    &:before {
      background-color: rgba(0,0,0,0.5);
    }

    &:after {
      color: white;
    }
  }
}