.screencast_item {
  margin-bottom: 40px;

  h2 {
    margin-top: 0;
  }

  .published_at {
    font-style: italic;
    margin-bottom: 10px;
  }

  .thumbnail {
    img {
      width: 100%;
    }
  }
}